<div class="col-3-10 site-middle">
    <div class="filter">
        <input type="text" id="search" placeholder="filter me"
               />
        <p>Kategori combobox</p>
        <p>Datum från</p>
        <p>Datum till</p>
    </div>
</div>

<div class="col-5-10 site-right">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Kategori</th>
                <th>Instruktioner</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
